<div class="row">
    <div class="col-md-12 text-justify">
		<div class="panel panel-primary">
			<div class="panel-heading">Batch 2014</div>
			<div class="panel-body">
				<!-- START -->

    <div class="col-md-4 col-md-offset-1 text-justify">
		<div class="panel-group">
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian1=true" ng-click="accordian1 = !accordian1">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 1</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian1}">
	                <div class="panel-body">
	                    <p><b>Name : asfljadsf<b></p>
	                    <p><b>Interest : asfljadsf<b></p>
	                    <p><b>etc : asfljadsf<b></p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian2=false" ng-click="accordian2 = !accordian2">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 2</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian2}">
	                <div class="panel-body">
	                    <p>Twitter Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian3=false" ng-click="accordian3 = !accordian3">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 3</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian3}" >
	                <div class="panel-body">
	                    <p>CSS stands for Cascad</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian4=false" ng-click="accordian4 = !accordian4">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 4</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian4}" >
	                <div class="panel-body">
	                    <p>CSS stands for Cascad</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian5=false" ng-click="accordian5 = !accordian5">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 5</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian5}" >
	                <div class="panel-body">
	                    <p>CSS stands for Cascad</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>


				<!-- END -->


				<!-- START -->

    <div class="col-md-4 col-md-offset-1 text-justify">
		<div class="panel-group">
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian6=true" ng-click="accordian6 = !accordian6">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 6</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian6}">
	                <div class="panel-body">
	                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. Learn more</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian7=false" ng-click="accordian7 = !accordian7">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 7</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian7}">
	                <div class="panel-body">
	                    <p>Twitter Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian8=false" ng-click="accordian8 = !accordian8">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 8</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian8}" >
	                <div class="panel-body">
	                    <p>CSS stands for Cascad</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian9=false" ng-click="accordian9 = !accordian9">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 9</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian9}" >
	                <div class="panel-body">
	                    <p>CSS stands for Cascad</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading" ng-int="accordian10=false" ng-click="accordian10 = !accordian10">
	                <h4 class="panel-title">
	                    <a href="" style="text-decoration: none">Student Name 10</a>
	                </h4>
	            </div>
	            <div class="panel-collapse collapse" ng-class="{'in':accordian10}" >
	                <div class="panel-body">
	                    <p>CSS stands for Cascad</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>


				<!-- END -->

			</div>
		</div>
    </div> 
</div>
<div class="row">
    <div class="col-md-12 text-justify">
		<div class="panel panel-primary">
			<div class="panel-heading">Batch 2015</div>
			<div class="panel-body">
				Will be inducted soon.
			</div>
		</div>
    </div>    
</div>