<div class="row">
    <div class="col-md-10 col-md-offset-1">
	    <div class="col-md-4 text-justify">
			<div class="panel panel-default">
				<div class="panel-heading">Account Details(for online)</div>
				<div class="panel-body">
					<p><b>Acc no : 503845230945</b></p>
					<p><b>Branch : asfsdflasdjf</b></p>
					<p><b>IFSCNo : 345803452534</b></p>
				</div>
			</div>
	    </div>

	    <div class="col-md-4 text-justify">
			<div class="panel panel-default">
				<div class="panel-heading">Pay Check</div>
				<div class="panel-body">
					<p><b>payee : asdfsdfasdf</b></p>
					<p><b>address : asdfasdfasd</b></p>
					<p><b>etc : sadfafs</b></p>
				</div>
			</div>
	    </div>

	    <div class="col-md-4 text-justify">
			<div class="panel panel-default">
				<div class="panel-heading">Some other option</div>
				<div class="panel-body">
					<p><b>ioasdfe : asdfsdfasdf</b></p>
					<p><b>easass : asdfasdfasd</b></p>
					<p><b>etc : sadfafs</b></p>
				</div>
			</div>
	    </div>
    </div>    
</div>
<footer>
    <div class="row">
  		<div class="col-lg-10 col-lg-offset-1 text-center">
			<h4><strong>Gourp Name</strong></h4>
			<p>someplace <br>address pin</p>
			<ul class="list-unstyled">
			<li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
			<li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
			</li>
			</ul>
			<br>
			<ul class="list-inline">
			<li>
			<a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
			</li>
			<li>
			<a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
			</li>
			<li>
			<a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
			</li>
			</ul>
        </div>
    </div>
</footer>