<div class="row">
    <div class="col-md-6 text-justify">
		<div class="panel panel-default">
			<div class="panel-heading">Stage 1</div>
			<div class="panel-body">
				<img src="img/stage1.PNG" class="img-responsive"></img>
			</div>
		</div>
    </div>    
    <div class="col-md-6 text-justify">
		<div class="panel panel-default">
			<div class="panel-heading">Stage 2</div>
			<div class="panel-body">
				<img src="img/stage2.PNG" class="img-responsive"></img>
			</div>
		</div>
    </div>
</div>