<div class="row">
	<div class="col-md-10 col-md-offset-1 text-justify">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <!-- Carousel indicators -->
		    <ol class="carousel-indicators">
		        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		        <li data-target="#myCarousel" data-slide-to="1"></li>
		        <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>   
		    <!-- Carousel items -->
		    <div class="carousel-inner">
		        <div class="item active">
		            <h2>School 1</h2>
		            <div class="carousel-caption">
		              <h3>Address</h3>
		              <p>Information about school1</p>
		            </div>
		        </div>
		        <div class="item">
		            <h2>School 2</h2>
		            <div class="carousel-caption">
		              <h3>Address of school2</h3>
		              <p>Information about school2</p>
		            </div>
		        </div>
		        <div class="item">
		            <h2>School 3</h2>
		            <div class="carousel-caption">
		              <h3>Address of school3</h3>
		              <p>something about school3</p>
		            </div>
		        </div>
		    </div>
		    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel" target="_self" data-slide="prev">
		        <span class="glyphicon glyphicon-chevron-left"></span>
		    </a>
		    <a class="carousel-control right" href="#myCarousel" target="_self" data-slide="next">
		        <span class="glyphicon glyphicon-chevron-right"></span>
		    </a>
		</div>
	</div>
</div>
<br><br>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
	    <div class="col-md-4 text-justify">
			<div class="panel panel-default">
				<div class="panel-heading">School1</div>
				<div class="panel-body">
					<p><b>staff name1</b></p>
					<p><b>staff name2</b></p>
					<p><b>staff name3</b></p>
				</div>
			</div>
	    </div>

	    <div class="col-md-4 text-justify">
			<div class="panel panel-default">
				<div class="panel-heading">School2</div>
				<div class="panel-body">
					<p><b>staff name1</b></p>
					<p><b>staff name2</b></p>
					<p><b>staff name3</b></p>
				</div>
			</div>
	    </div>

	    <div class="col-md-4 text-justify">
			<div class="panel panel-default">
				<div class="panel-heading">School3</div>
				<div class="panel-body">
					<p><b>staff name1</b></p>
					<p><b>staff name2</b></p>
					<p><b>staff name3</b></p>
				</div>
			</div>
	    </div>
    </div>    
</div>