<div class="row">
	<div class="col-md-12">
	<blockquote>
		<p>we have to do this, sadfsadf asdfasd asdfasdaf afdaserw</p>
		<footer>out motto</footer>
	</blockquote>
	</div>						
</div>
<div class="row">
	<div class="col-md-6 text-justify jumbotron">
		<p class="bg-primary">column1 and somwersds flsfs ajfljsadlfjas   asdf asdfj lsdafsaf asd asdfwer </p>
		<img src="img/img1.PNG" class="img-circle"></img>
		<img src="img/img2.PNG" class="img-circle"></img>
    </div>
    <div class="col-md-6 text-justify">
		<ul class="list-group">
			<li class="list-group-item"><span class="badge">9004076989</span>name1 asfd</li>
			<li class="list-group-item"><span class="badge">9004076989</span>name2 asdfkum</li>
			<li class="list-group-item"><span class="badge">9004076989</span>nasdf asdfwee</li>
			<li class="list-group-item"><span class="badge">9004076989</span>aame2 asdf f</li>
			<li class="list-group-item"><span class="badge">9004076989</span>n safa me2</li>
		</ul>
		<div class="well well-sm">small well</div>
    </div>
</div>